[Unit]
Description=EIGSEP backend role (digital backend + DHCP server)
Wants=redis-server.service eigsep-observe.service eigsep-observe-writer.service isc-dhcp-server.service
After=network-online.target

[Install]
WantedBy=multi-user.target
